<h1>Typography</h1>

<div class="mat-display-4">Display-4</div>
<div class="mat-display-3">Display-3</div>
<div class="mat-display-2">Display-2</div>
<div class="mat-display-1">Display-1</div>
<div class="mat-headline">Headline</div>
<div class="mat-title">Title</div>
<div class="mat-subheading-2">Subheading-2</div>
<div class="mat-subheading-1">Subheading-1</div>
<div class="mat-body-1">Body-1</div>
<div class="mat-body-2">Body-2</div>
<div class="mat-caption">Caption</div>

<h1>&lt;h1&gt;</h1>
<h2>&lt;h2&gt;</h2>
<h3>&lt;h3&gt;</h3>
<h4>&lt;h4&gt;</h4>
<h5>&lt;h5&gt;</h5>
<h6>&lt;h6&gt;</h6>
