@use '@angular/material' as mat;
@include mat.core();
@import './variables.scss';

$cocoon-purple-palette: (
  50: #eee1ef,
  100: #d5b5d9,
  200: #b985c1,
  300: #9e56a8,
  400: #8a3497,
  500: #770d86,
  600: #6b0b81,
  700: #5a0779,
  800: #4b0471,
  900: $cocoondata-purple,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  ),
);

$cocoon-green-palette: (
  50: #f2ffee,
  100: #dfffd5,
  200: $cocoondata-green,
  300: #b5fe9e,
  400: #9cfa83,
  500: #93f775,
  600: #83e56b,
  700: #6ece5f,
  800: #5ab955,
  900: #359543,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(black, 0.87),
    700: rgba(black, 0.87),
    800: rgba(black, 0.87),
    900: white,
  ),
);

$cocoon-yellow-palette: (
  50: #ffffe9,
  100: #fcfbc7,
  200: #faf8a1,
  300: $cocoondata-yellow,
  400: #fcf664,
  500: #f9f147,
  600: #fee546,
  700: #fccd3b,
  800: #fbb531,
  900: #f88d1e,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(black, 0.87),
    700: rgba(black, 0.87),
    800: rgba(black, 0.87),
    900: rgba(black, 0.87),
  ),
);

$inter-typography: mat.define-typography-config(
  $font-family: 'Inter',
);
@include mat.core($inter-typography);

// Define a light theme
$light-primary: mat.define-palette($cocoon-purple-palette, 900);
$light-accent: mat.define-palette($cocoon-green-palette, 200);
$light-warn: mat.define-palette($cocoon-yellow-palette, 300);
$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent,
      warn: $light-warn,
    ),
    typography: $inter-typography,
  )
);

// Apply the light theme by default
@include mat.core-theme($light-theme);
@include mat.button-theme($light-theme);
@include mat.all-component-themes($light-theme);

// Define an alternative light theme
$alt-light-primary: mat.define-palette($cocoon-purple-palette, 400);
$alt-light-accent: mat.define-palette($cocoon-green-palette, 900);
$alt-light-warn: mat.define-palette($cocoon-yellow-palette, 700);
$alt-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $alt-light-primary,
      accent: $alt-light-accent,
      warn: $alt-light-warn,
    ),
    typography: $inter-typography,
  )
);

.alt-light-theme {
  @include mat.core-color($alt-light-theme);
  @include mat.button-color($alt-light-theme);
  @include mat.all-component-colors($alt-light-theme);
}

// Define a dark theme
$dark-primary: mat.define-palette($cocoon-purple-palette, 900);
$dark-accent: mat.define-palette($cocoon-green-palette, 200);
$dark-warn: mat.define-palette($cocoon-yellow-palette, 300);
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      warn: $dark-warn,
    ),
    typography: $inter-typography,
  )
);

.dark-theme {
  @include mat.core-color($dark-theme);
  @include mat.button-color($dark-theme);
  @include mat.all-component-colors($dark-theme);
}

// Define an alternative dark theme
$alt-dark-primary: mat.define-palette($cocoon-purple-palette, 200);
$alt-dark-accent: mat.define-palette($cocoon-green-palette, 400);
$alt-dark-warn: mat.define-palette($cocoon-yellow-palette, 400);
$alt-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $alt-dark-primary,
      accent: $alt-dark-accent,
      warn: $alt-dark-warn,
    ),
    typography: $inter-typography,
  )
);

.alt-dark-theme {
  @include mat.core-color($alt-dark-theme);
  @include mat.button-color($alt-dark-theme);
  @include mat.all-component-colors($alt-dark-theme);
}

// Define light themes from pre-built palettes
// deeppurple-amber
$deeppurple-amber-light-primary: mat.define-palette(mat.$deep-purple-palette);
$deeppurple-amber-light-accent: mat.define-palette(mat.$amber-palette);
$deeppurple-amber-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $deeppurple-amber-light-primary,
      accent: $deeppurple-amber-light-accent,
    ),
    typography: $inter-typography,
  )
);

.deeppurple-amber-light-theme {
  @include mat.core-color($deeppurple-amber-light-theme);
  @include mat.button-color($deeppurple-amber-light-theme);
  @include mat.all-component-colors($deeppurple-amber-light-theme);
}

// indigo-pink
$indigo-pink-light-primary: mat.define-palette(mat.$indigo-palette);
$indigo-pink-light-accent: mat.define-palette(mat.$pink-palette);
$indigo-pink-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $indigo-pink-light-primary,
      accent: $indigo-pink-light-accent,
    ),
    typography: $inter-typography,
  )
);

.indigo-pink-light-theme {
  @include mat.core-color($indigo-pink-light-theme);
  @include mat.button-color($indigo-pink-light-theme);
  @include mat.all-component-colors($indigo-pink-light-theme);
}

// Define dark themes from pre-built palettes
// pink-bluegrey
$pink-bluegrey-dark-primary: mat.define-palette(mat.$pink-palette);
$pink-bluegrey-dark-accent: mat.define-palette(mat.$blue-grey-palette);
$pink-bluegrey-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $pink-bluegrey-dark-primary,
      accent: $pink-bluegrey-dark-accent,
    ),
    typography: $inter-typography,
  )
);

.pink-bluegrey-dark-theme {
  @include mat.core-color($pink-bluegrey-dark-theme);
  @include mat.button-color($pink-bluegrey-dark-theme);
  @include mat.all-component-colors($pink-bluegrey-dark-theme);
}

// purple-green
$purple-green-dark-primary: mat.define-palette(mat.$purple-palette);
$purple-green-dark-accent: mat.define-palette(mat.$green-palette);
$purple-green-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $purple-green-dark-primary,
      accent: $purple-green-dark-accent,
    ),
    typography: $inter-typography,
  )
);

.purple-green-dark-theme {
  @include mat.core-color($purple-green-dark-theme);
  @include mat.button-color($purple-green-dark-theme);
  @include mat.all-component-colors($purple-green-dark-theme);
}
