@use '@angular/material' as mat;
@include mat.core();
@import './variables.scss';

$cocoon-purple-palette: (
  50: #eee1ef,
  100: #d5b5d9,
  200: #b985c1,
  300: #9e56a8,
  400: #8a3497,
  500: #770d86,
  600: #6b0b81,
  700: #5a0779,
  800: #4b0471,
  900: $cocoondata-purple,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  ),
);

$cocoon-green-palette: (
  50: #f2ffee,
  100: #dfffd5,
  200: $cocoondata-green,
  300: #b5fe9e,
  400: #9cfa83,
  500: #93f775,
  600: #83e56b,
  700: #6ece5f,
  800: #5ab955,
  900: #359543,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(black, 0.87),
    700: rgba(black, 0.87),
    800: rgba(black, 0.87),
    900: white,
  ),
);

$inter-typography: mat.define-typography-config(
  $font-family: 'Inter',
);
@include mat.core($inter-typography);

// Define a light theme
$light-primary: mat.define-palette($cocoon-purple-palette, 900);
$light-accent: mat.define-palette($cocoon-green-palette, 200);
$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent,
    ),
    typography: $inter-typography,
  )
);

// Apply the light theme by default
@include mat.core-theme($light-theme);
@include mat.button-theme($light-theme);
@include mat.all-component-themes($light-theme);

// Define an alternative light theme
$alt-light-primary: mat.define-palette($cocoon-purple-palette, 400);
$alt-light-accent: mat.define-palette($cocoon-green-palette, 900);
$alt-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $alt-light-primary,
      accent: $alt-light-accent,
    ),
    typography: $inter-typography,
  )
);

.alt-light-theme {
  @include mat.core-color($alt-light-theme);
  @include mat.button-color($alt-light-theme);
  @include mat.all-component-colors($alt-light-theme);
}

// Define a pre-built theme
$prebuilt-primary: mat.define-palette(mat.$purple-palette);
$prebuilt-accent: mat.define-palette(mat.$green-palette);
$prebuilt-theme: mat.define-light-theme(
  (
    color: (
      primary: $prebuilt-primary,
      accent: $prebuilt-accent,
    ),
    typography: $inter-typography,
  )
);

.prebuilt-theme {
  @include mat.core-color($prebuilt-theme);
  @include mat.button-color($prebuilt-theme);
  @include mat.all-component-colors($prebuilt-theme);
}
