@use '@angular/material' as mat;
@include mat.core();
@include mat.strong-focus-indicators();

@import './variables.scss';

$cocoon-purple-palette: (
  50: #eee1ef,
  100: #d5b5d9,
  200: #b985c1,
  300: #9e56a8,
  400: #8a3497,
  500: #770d86,
  600: #6b0b81,
  700: #5a0779,
  800: #4b0471,
  900: $cocoondata-purple,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  ),
);

$cocoon-green-palette: (
  50: #f2ffee,
  100: #dfffd5,
  200: $cocoondata-green,
  300: #b5fe9e,
  400: #9cfa83,
  500: #93f775,
  600: #83e56b,
  700: #6ece5f,
  800: #5ab955,
  900: #359543,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(black, 0.87),
    700: rgba(black, 0.87),
    800: rgba(black, 0.87),
    900: white,
  ),
);

$cocoon-yellow-palette: (
  50: #ffffe9,
  100: #fcfbc7,
  200: #faf8a1,
  300: $cocoondata-yellow,
  400: #fcf664,
  500: #f9f147,
  600: #fee546,
  700: #fccd3b,
  800: #fbb531,
  900: #f88d1e,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(black, 0.87),
    700: rgba(black, 0.87),
    800: rgba(black, 0.87),
    900: rgba(black, 0.87),
  ),
);

@mixin header-footer-theme($color: white, $background: $cocoondata-purple) {
  .header-footer-theme {
    background: $background;
    color: $color;
  }
}

@mixin set-theme($theme) {
  @include mat.core-theme($theme);
  @include mat.button-theme($theme);
  @include mat.all-component-themes($theme);
  @include mat.strong-focus-indicators-theme($theme);
  @include header-footer-theme();
}

@mixin set-color($theme) {
  @include mat.core-color($theme);
  @include mat.button-color($theme);
  @include mat.all-component-colors($theme);
  @include mat.strong-focus-indicators-theme($theme);
  @include header-footer-theme();
}

$inter-typography: mat.define-typography-config(
  $font-family: 'Inter',
);
@include mat.core($inter-typography);

// Define a light theme
$light-primary: mat.define-palette($cocoon-purple-palette, 900);
$light-accent: mat.define-palette($cocoon-green-palette, 200);
$light-warn: mat.define-palette($cocoon-yellow-palette, 300);
$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent,
      warn: $light-warn,
    ),
    typography: $inter-typography,
  )
);

// Apply the light theme by default
@include set-theme($light-theme);

// Define an alternative light theme
$alt-light-primary: mat.define-palette($cocoon-purple-palette, 400);
$alt-light-accent: mat.define-palette($cocoon-green-palette, 900);
$alt-light-warn: mat.define-palette($cocoon-yellow-palette, 700);
$alt-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $alt-light-primary,
      accent: $alt-light-accent,
      warn: $alt-light-warn,
    ),
    typography: $inter-typography,
  )
);

.alt-light-theme {
  @include set-color($alt-light-theme);
}

// Define a dark theme
$dark-primary: mat.define-palette($cocoon-purple-palette, 900);
$dark-accent: mat.define-palette($cocoon-green-palette, 200);
$dark-warn: mat.define-palette($cocoon-yellow-palette, 300);
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      warn: $dark-warn,
    ),
    typography: $inter-typography,
  )
);

.dark-theme {
  @include set-color($dark-theme);
}

// Define an alternative dark theme
$alt-dark-primary: mat.define-palette($cocoon-purple-palette, 200);
$alt-dark-accent: mat.define-palette($cocoon-green-palette, 400);
$alt-dark-warn: mat.define-palette($cocoon-yellow-palette, 400);
$alt-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $alt-dark-primary,
      accent: $alt-dark-accent,
      warn: $alt-dark-warn,
    ),
    typography: $inter-typography,
  )
);

.alt-dark-theme {
  @include set-color($alt-dark-theme);
}

// Define light themes from pre-built palettes
// deeppurple-amber
$deeppurple-amber-light-primary: mat.define-palette(mat.$deep-purple-palette);
$deeppurple-amber-light-accent: mat.define-palette(mat.$amber-palette);
$deeppurple-amber-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $deeppurple-amber-light-primary,
      accent: $deeppurple-amber-light-accent,
    ),
    typography: $inter-typography,
  )
);

.deeppurple-amber-light-theme {
  @include set-color($deeppurple-amber-light-theme);
}

// indigo-pink
$indigo-pink-light-primary: mat.define-palette(mat.$indigo-palette);
$indigo-pink-light-accent: mat.define-palette(mat.$pink-palette);
$indigo-pink-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $indigo-pink-light-primary,
      accent: $indigo-pink-light-accent,
    ),
    typography: $inter-typography,
  )
);

.indigo-pink-light-theme {
  @include set-color($indigo-pink-light-theme);
}

// Define dark themes from pre-built palettes
// pink-bluegrey
$pink-bluegrey-dark-primary: mat.define-palette(mat.$pink-palette);
$pink-bluegrey-dark-accent: mat.define-palette(mat.$blue-grey-palette);
$pink-bluegrey-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $pink-bluegrey-dark-primary,
      accent: $pink-bluegrey-dark-accent,
    ),
    typography: $inter-typography,
  )
);

.pink-bluegrey-dark-theme {
  @include set-color($pink-bluegrey-dark-theme);
}

// purple-green
$purple-green-dark-primary: mat.define-palette(mat.$purple-palette);
$purple-green-dark-accent: mat.define-palette(mat.$green-palette);
$purple-green-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $purple-green-dark-primary,
      accent: $purple-green-dark-accent,
    ),
    typography: $inter-typography,
  )
);

.purple-green-dark-theme {
  @include set-color($purple-green-dark-theme);
}

@function modify-background($theme, $background-palette) {
  // Replace the background in the color object's background palette.
  $theme-color: map-get($theme, color);
  $color-background-palette: map-get($theme-color, background);
  $color-background-palette: map-merge($color-background-palette, $background-palette);

  // Replace the background in the background palette.
  $background-palette: map-get($theme, background);
  $background-palette: map-merge($color-background-palette, $background-palette);

  // Merge the changes into a new theme.
  $modified-theme-color: map-merge(
    $theme-color,
    (
      background: $color-background-palette,
    )
  );
  $modified-theme: map-merge(
    $theme,
    (
      color: $modified-theme-color,
    )
  );
  $modified-theme: map-merge(
    $modified-theme,
    (
      background: $background-palette,
    )
  );

  @return $modified-theme;
}

$modified-background-palette: (
  background: $cocoondata-purple,
  app-bar: darken($cocoondata-purple, 5%),
  card: map-get($cocoon-purple-palette, 800),
  dialog: map-get($cocoon-purple-palette, 800),
  raised-button: map-get($cocoon-purple-palette, 800),
  selected-button: darken($cocoondata-purple, 5%),
  selected-disabled-button: map-get($cocoon-purple-palette, 800),
  unselected-chip: map-get($cocoon-purple-palette, 700),
  tooltip: map-get($cocoon-purple-palette, 700),
);

$modified-green-dark-primary: mat.define-palette($cocoon-green-palette, 200);
$modified-green-dark-accent: mat.define-palette($cocoon-yellow-palette, 300);
$modified-green-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $modified-green-dark-primary,
      accent: $modified-green-dark-accent,
    ),
    typography: $inter-typography,
  )
);
$modified-green-dark-theme: modify-background($modified-green-dark-theme, $modified-background-palette);

.modified-green-dark-theme {
  @include set-color($modified-green-dark-theme);
  @include header-footer-theme($cocoondata-purple, $cocoondata-green);
}

$modified-yellow-dark-primary: mat.define-palette($cocoon-yellow-palette, 300);
$modified-yellow-dark-accent: mat.define-palette($cocoon-green-palette, 200);
$modified-yellow-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $modified-yellow-dark-primary,
      accent: $modified-yellow-dark-accent,
    ),
    typography: $inter-typography,
  )
);
$modified-yellow-dark-theme: modify-background($modified-yellow-dark-theme, $modified-background-palette);

.modified-yellow-dark-theme {
  @include set-color($modified-yellow-dark-theme);
  @include header-footer-theme($cocoondata-purple, $cocoondata-yellow);
}
