:host {
  .mat-stepper-horizontal {
    margin-top: 8px;
  }

  .mat-stepper-vertical {
    margin-top: 8px;
  }

  .mat-form-field {
    margin-top: 16px;
  }

  .example-container {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
  }
}
