<h1>Colour Palette</h1>

<mat-grid-list cols="3" rowHeight="50px" style="width: 900px">
  <mat-grid-tile>
    <div class="color-theme light-primary-50">Primary 50</div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="color-theme light-accent-50">Accent 50</div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="color-theme yellow-50">Yellow 50</div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class="color-theme light-primary-100">Primary 100</div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="color-theme light-accent-100">Accent 100</div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="color-theme yellow-100">Yellow 100</div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class="color-theme light-primary-200">Primary 200</div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="color-theme light-accent-200">Accent 200 *</div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="color-theme yellow-200">Yellow 200</div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class="color-theme light-primary-300">Primary 300</div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="color-theme light-accent-300">Accent 300</div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="color-theme yellow-300">Yellow 300 *</div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class="color-theme light-primary-400">Primary 400</div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="color-theme light-accent-400">Accent 400</div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="color-theme yellow-400">Yellow 400</div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class="color-theme light-primary-500">Primary 500</div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="color-theme light-accent-500">Accent 500</div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="color-theme yellow-500">Yellow 500</div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class="color-theme light-primary-600">Primary 600</div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="color-theme light-accent-600">Accent 600</div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="color-theme yellow-600">Yellow 600</div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class="color-theme light-primary-700">Primary 700</div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="color-theme light-accent-700">Accent 700</div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="color-theme yellow-700">Yellow 700</div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class="color-theme light-primary-800">Primary 800</div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="color-theme light-accent-800">Accent 800</div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="color-theme yellow-800">Yellow 800</div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class="color-theme light-primary-900">Primary 900 *</div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="color-theme light-accent-900">Accent 900</div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="color-theme yellow-900">Yellow 900</div>
  </mat-grid-tile>
</mat-grid-list>