@use '@angular/material' as mat;
@use '../../assets/scss/theme.scss' as theme;

:host {
  @mixin get-palette-colors($palette, $hue) {
    color: mat.get-contrast-color-from-palette($palette, $hue);
    background-color: mat.get-color-from-palette($palette, $hue);
  }

  @mixin get-palette-classes($palette, $palette-name) {
    $hues: 50, 100, 200, 300, 400, 500, 600, 700, 800, 900;

    @each $hue in $hues {
      &.#{$palette-name}-#{$hue} {
        @include get-palette-colors($palette, $hue);
      }
    }
  }

  .color-theme {
    padding: 12px;
    width: 200px;

    @include get-palette-classes(theme.$light-primary, 'light-primary');
    @include get-palette-classes(theme.$light-accent, 'light-accent');
    @include get-palette-classes(theme.$light-warn, 'light-warn');

    @include get-palette-classes(mat.$deep-purple-palette, 'deep-purple');
    @include get-palette-classes(mat.$amber-palette, 'amber');
    @include get-palette-classes(mat.$indigo-palette, 'indigo');
    @include get-palette-classes(mat.$red-palette, 'red');
    @include get-palette-classes(mat.$pink-palette, 'pink');
    @include get-palette-classes(mat.$blue-grey-palette, 'blue-grey');
    @include get-palette-classes(mat.$purple-palette, 'purple');
    @include get-palette-classes(mat.$green-palette, 'green');
  }
}
