:host {
  section {
    display: table;
  }

  .example-label {
    display: table-cell;
    margin-left: 0.5rem;
    min-width: 120px;
  }

  .example-button-row {
    display: table-cell;
    width: 520px;
  }

  .example-button-row .mat-button-base {
    margin: 0.5rem 0.5rem 0.5rem 0;
  }

  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }

  ::ng-deep .mat-grid-tile-content {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
