<h1>Buttons & Badges</h1>

<mat-grid-list cols="1" rowHeight="550px">
  <mat-grid-tile>
    <div>
      <h3>Buttons</h3>
      <ng-container [ngTemplateOutlet]="matButtonsDemo"></ng-container>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div>
      <h3>Badges</h3>
      <ng-container [ngTemplateOutlet]="matBadgeDemo"></ng-container>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<ng-template #matButtonsDemo>
  <section>
    <div class="example-label">Basic</div>
    <div class="example-button-row">
      <button mat-button type="button">Basic</button>
      <button mat-button type="button" color="primary">Primary</button>
      <button mat-button type="button" color="accent">Accent</button>
      <button mat-button type="button" color="warn">Warn</button>
      <button mat-button type="button" disabled>Disabled</button>
      <a mat-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section>
    <div class="example-label">Raised</div>
    <div class="example-button-row">
      <button mat-raised-button type="button">Basic</button>
      <button mat-raised-button type="button" color="primary">Primary</button>
      <button mat-raised-button type="button" color="accent">Accent</button>
      <button mat-raised-button type="button" color="warn">Warn</button>
      <button mat-raised-button type="button" disabled>Disabled</button>
      <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section>
    <div class="example-label">Stroked</div>
    <div class="example-button-row">
      <button mat-stroked-button type="button">Basic</button>
      <button mat-stroked-button type="button" color="primary">Primary</button>
      <button mat-stroked-button type="button" color="accent">Accent</button>
      <button mat-stroked-button type="button" color="warn">Warn</button>
      <button mat-stroked-button type="button" disabled>Disabled</button>
      <a mat-stroked-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section>
    <div class="example-label">Flat</div>
    <div class="example-button-row">
      <button mat-flat-button type="button">Basic</button>
      <button mat-flat-button type="button" color="primary">Primary</button>
      <button mat-flat-button type="button" color="accent">Accent</button>
      <button mat-flat-button type="button" color="warn">Warn</button>
      <button mat-flat-button type="button" disabled>Disabled</button>
      <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section>
    <div class="example-label">Icon</div>
    <div class="example-button-row">
      <div class="example-flex-container">
        <button mat-icon-button type="button" aria-label="Example icon button with a vertical three dot icon">
          <mat-icon>more_vert</mat-icon>
        </button>
        <button mat-icon-button type="button" color="primary" aria-label="Example icon button with a home icon">
          <mat-icon>home</mat-icon>
        </button>
        <button mat-icon-button type="button" color="accent" aria-label="Example icon button with a menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <button mat-icon-button type="button" color="warn" aria-label="Example icon button with a heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button type="button" disabled aria-label="Example icon button with a open in new tab icon">
          <mat-icon>open_in_new</mat-icon>
        </button>
      </div>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section>
    <div class="example-label">FAB</div>
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="example-button-container">
          <button mat-fab type="button" color="primary" aria-label="Example icon button with a delete icon">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <div class="example-button-container">
          <button mat-fab type="button" color="accent" aria-label="Example icon button with a bookmark icon">
            <mat-icon>bookmark</mat-icon>
          </button>
        </div>
        <div class="example-button-container">
          <button mat-fab type="button" color="warn" aria-label="Example icon button with a home icon">
            <mat-icon>home</mat-icon>
          </button>
        </div>
        <div class="example-button-container">
          <button mat-fab type="button" disabled aria-label="Example icon button with a heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section>
    <div class="example-label">Mini FAB</div>
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="example-button-container">
          <button mat-mini-fab type="button" color="primary" aria-label="Example icon button with a menu icon">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <div class="example-button-container">
          <button mat-mini-fab type="button" color="accent" aria-label="Example icon button with a plus one icon">
            <mat-icon>plus_one</mat-icon>
          </button>
        </div>
        <div class="example-button-container">
          <button mat-mini-fab type="button" color="warn" aria-label="Example icon button with a filter list icon">
            <mat-icon>filter_list</mat-icon>
          </button>
        </div>
        <div class="example-button-container">
          <button mat-mini-fab type="button" disabled aria-label="Example icon button with a home icon">
            <mat-icon>home</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section>
    <div class="example-label">Toggle</div>
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="example-button-toggle-container">
          <mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="toggleValue">
            <mat-button-toggle value="left" aria-label="Text align left">
              <mat-icon>format_align_left</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="center" aria-label="Text align center">
              <mat-icon>format_align_center</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="right" aria-label="Text align right">
              <mat-icon>format_align_right</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="justify" disabled aria-label="Text align justify">
              <mat-icon>format_align_justify</mat-icon>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div class="example-button-toggle-container">
          <mat-button-toggle-group name="ingredients" aria-label="Ingredients" multiple>
            <mat-button-toggle value="flour">Flour</mat-button-toggle>
            <mat-button-toggle value="eggs">Eggs</mat-button-toggle>
            <mat-button-toggle value="sugar">Sugar</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>
    </div>
  </section>
</ng-template>


<ng-template #matBadgeDemo>
  <p>
    <span matBadge="4" matBadgeOverlap="false">Text with a badge</span>
  </p>
  <p>
    <span matBadge="1" matBadgeSize="large" matBadgeColor="accent">Text with large badge</span>
  </p>
  <p>
    Button with a badge on the left
    <button mat-raised-button type="button" color="primary"
            matBadge="8" matBadgePosition="before" matBadgeColor="warn">
      Action
    </button>
  </p>
  <p>
    Icon with a badge
    <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon>
    <!-- Include text description of the icon's meaning for screen-readers -->
    <span class="cdk-visually-hidden">
      Example with a home icon with overlaid badge showing the number 15
    </span>
  </p>
</ng-template>