<mat-toolbar class="top-navbar">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>Cocoon Data</span>

  <span class="example-spacer"></span>

  <button mat-icon-button>
    <mat-icon matBadge="5" matBadgeColor="warn">notifications</mat-icon>
  </button>
  <button mat-icon-button routerLink="/home">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="example-container" [hasBackdrop]="false">
  <mat-sidenav mode="side" opened [disableClose]="true">
    <mat-nav-list>
      <a mat-list-item routerLink="/home">Angular Material</a>
      <a mat-list-item routerLink="/colors">Colour Palette</a>
      <a mat-list-item routerLink="/typography">Typography</a>
      <a mat-list-item routerLink="/buttons">Buttons</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-sidenav-container>
