@import '../assets/scss/variables.scss';

:host {
  .example-container {
    width: 100%;
    min-height: 800px;

    .example-content {
      padding: 0 1rem 4rem 1rem;
    }
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  .example-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .example-header,
  .example-footer {
    background: $cocoondata-purple;
    color: white;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 900;
  }

  .example-header {
    top: 0;
  }

  .example-footer {
    bottom: 0;
    justify-content: center;
  }
}
