@import '../styles.scss';

:host {
  .example-container {
    width: calc(100% - 12px);
    min-height: 500px;
    margin: 10px;
    border: 1px solid $cocoondata-purple;

    mat-drawer-content {
      padding-left: 16px;
    }
  }
}
