<h1>Angular Material</h1>

<p>These screens are to demonstrate the use of Angular Material components.</p>

<p>Try changing the way the side navigation menu operates:</p>

<ng-container *ngIf="{mode: $mode | async, hasBackdrop: $hasBackdrop | async} as pageData">
  <mat-grid-list cols="2" rowHeight="150px" style="width: 400px">
    <mat-grid-tile>
      <mat-radio-group class="example-radio-group" color="primary"
                       [(ngModel)]="pageData.mode"
                       (ngModelChange)="setMode($event)">
        <label>Menu Mode</label>
        <mat-radio-button class="example-radio-button" value="over">Over</mat-radio-button>
        <mat-radio-button class="example-radio-button" value="push">Push</mat-radio-button>
        <mat-radio-button class="example-radio-button" value="side">Side</mat-radio-button>
      </mat-radio-group>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-radio-group class="example-radio-group" color="primary"
                       [(ngModel)]="pageData.hasBackdrop"
                       (ngModelChange)="setHasBackdrop($event)">
        <label>Has backdrop</label>
        <mat-radio-button class="example-radio-button" [value]="true">Yes</mat-radio-button>
        <mat-radio-button class="example-radio-button" [value]="false">No</mat-radio-button>
      </mat-radio-group>
    </mat-grid-tile>
  </mat-grid-list>
</ng-container>